nav {
    display:block;
    background-color: lightskyblue;
    height: 50px;
    position: sticky;
    top: 0;
}
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
nav li {
    background-color: blue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        list-style-type: none;
        height: 80px;
        float: left;
        width: 20%;
        color: rgba(255,192,203,1);
        display: inline;
}

    nav li:hover {
        list-style-type: disc;
    }

nav li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

    nav li a:hover {
    color: black;
    }


       



.container {
        width = 80%;
        margin = 0 auto;
}

header
{
        background = rgba(0,0,0);
}
       

}
header {
        background color: rgba ( 0, 0, 0, 0.5);



img {
    display: block;
    text-align: center;
    position: absolute;
    left: 40%;
}


